@CHARSET "ISO-8859-1";
/*
THEME NAME: AWPA
THEME URI: http://larkin.io/awpa/
DESCRIPTION: Basic theme.
VERSION: 1.0
AUTHOR:  Larkin Cunningham
AUTHOR URI: http://larkin.io/index.php/about-me/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, light, white, black, gray, one-column, two-columns,
left-sidebar, right-sidebar, fixed-width, flexible-width, 
custom-background, custom-colors, custom-header, custom-menu,
editor-style, featured-image-header, featured-images,
full-width-template, microformats, post-formats,
rtl-language-support, sticky-post, theme-options, translation-ready
*/
body { text-align: center; }
#wrapper { display: block; border: 1px #a2a2a2 solid; width:90%;  margin:0px auto; }
#header { border: 2px #a2a2a2 solid; background-color: orange;}
#content { text-align: left; width: 75%; padding-left: 6px; border: 2px #a2a2a2 solid; float: left; background-color: lightblue;}
#sidebar { width: 23%; border: 2px #a2a2a2 solid; float: right; background-color: lightgreen;}
#delimiter { clear: both; }
#footer { border: 2px #a2a2a2 solid; background-color: maroon; }
.title { font-size: 11pt; font-family: verdana; font-weight: bold; }

#content-home { text-align: left; width: 99%; padding-left: 6px; border: 2px #a2a2a2 solid; background-color: lightblue;}
